html {
  font-size: 10px;
}

@media (min-width: 576px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Sawarabi Mincho', sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #eee;
}

li {
  list-style-type: none;
}

.header__mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__mask.active {
  opacity: .7;
  visibility: visible;
}

.header__title {
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #000;
}

.header__shop {
  position: fixed;
  top: 5%;
  right: 5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
  text-shadow: 1px 1px 1px #000;
}

@media (min-width: 768px) {
  .header__shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 8%;
  }
}

.header__shopIcon {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header__shopIcon {
    font-size: 1rem;
    padding-right: .5rem;
  }
}

.header__menuButton {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5%;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 768px) {
  .header__menuButton {
    left: 5%;
  }
}

.header__menuButton span {
  display: block;
  width: 60%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: ease-out .3s;
  transition: ease-out .3s;
}

.header__menuButton span:nth-of-type(1) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.header__menuButton span:nth-of-type(3) {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.header__menuButton.active {
  -webkit-transform: translate(250px, -50%);
          transform: translate(250px, -50%);
}

.header__menuButton.active span:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translate(-20%, -20px);
          transform: rotate(-45deg) translate(-20%, -20px);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.header__menuButton.active span:nth-of-type(2) {
  opacity: 0;
}

.header__menuButton.active span:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translate(-20%, 20px);
          transform: rotate(45deg) translate(-20%, 20px);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.nav {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #eee;
  width: 60%;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

@media (min-width: 768px) {
  .nav {
    width: 300px;
  }
}

.nav.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.nav__list {
  margin: 1rem;
  font-size: 1.5rem;
}

.nav__list:nth-of-type(7) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.nav hr {
  width: 95%;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .nav hr {
    width: 280px;
  }
}

.nav__item {
  width: 95%;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .nav__item {
    width: 280px;
  }
}

.nav__item a {
  color: #444;
}

.swiper-wrapper .swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (min-width: 768px) {
  .swiper-wrapper .swiper-slide {
    height: 90vh;
  }
}

.top__img1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, 0.5)), to(rgba(68, 68, 68, 0.5))), url("../image/top1.jpg");
  background: linear-gradient(rgba(68, 68, 68, 0.5), rgba(68, 68, 68, 0.5)), url("../image/top1.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .top__img1 {
    background-size: contain;
  }
}

.top__img2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, 0.5)), to(rgba(68, 68, 68, 0.5))), url("../image/top2.jpg");
  background: linear-gradient(rgba(68, 68, 68, 0.5), rgba(68, 68, 68, 0.5)), url("../image/top2.jpg");
  background-size: cover;
  background-position: center;
}

.top__img3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, 0.5)), to(rgba(68, 68, 68, 0.5))), url("../image/top3.jpg");
  background: linear-gradient(rgba(68, 68, 68, 0.5), rgba(68, 68, 68, 0.5)), url("../image/top3.jpg");
  background-size: cover;
  background-position: center;
}

.top__img4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, 0.5)), to(rgba(68, 68, 68, 0.5))), url("../image/top4.jpg");
  background: linear-gradient(rgba(68, 68, 68, 0.5), rgba(68, 68, 68, 0.5)), url("../image/top4.jpg");
  background-size: cover;
  background-position: center;
}

.top__box {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: .7em;
}

@media (min-width: 768px) {
  .top__box {
    left: 5%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding-left: 3rem;
  }
}

.top__text {
  font-size: 1.5rem;
  letter-spacing: .3rem;
  text-shadow: 0 0 10px #000;
  text-align: center;
}

@media (min-width: 768px) {
  .top__text {
    font-size: 2rem;
    text-align: left;
  }
}

.top__title {
  font-size: 2rem;
  margin: .5rem 0 3rem 0;
  letter-spacing: .5rem;
  text-shadow: 0 0 10px #000;
  text-align: center;
}

@media (min-width: 768px) {
  .top__title {
    font-size: 3.2rem;
    text-align: left;
  }
}

.top__link {
  display: inline-block;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #700e09;
  font-weight: bold;
  letter-spacing: .5rem;
  background-color: rgba(238, 238, 238, 0.7);
  border: 2px solid #700e09;
  border-radius: 3rem;
}

.top__link a {
  text-align: center;
  color: #700e09;
}

.about {
  width: 85%;
  margin: 0 auto 5rem;
}

@media (min-width: 768px) {
  .about {
    max-width: 1200px;
  }
}

.about__title {
  text-align: center;
  font-size: 3rem;
  padding: 8rem 0;
}

.about__text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: .3rem;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .about__text {
    line-height: 5rem;
    text-align: justify;
  }
}

.category {
  width: 85%;
  height: 100vh;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .category {
    max-width: 1200px;
  }
}

.category__title {
  text-align: center;
  font-size: 3rem;
  padding: 8rem 0;
}

.category__box {
  width: 100%;
  padding: 3rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .category__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.category__box img {
  width: 100%;
  padding: 2rem;
  border-radius: 10%;
}

.category__subTitle {
  font-size: 1.5rem;
  padding: 3rem 0;
  text-align: center;
}

.category__text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: .3rem;
  padding: 1.5rem;
  text-align: justify;
}

.category__box:nth-of-type(2n+1) {
  background-color: #f1f1f1;
}

.category__content button {
  border: 1px solid #700e09;
  padding: 1rem 2rem;
  margin-top: 3rem;
}
/*# sourceMappingURL=style.css.map */